<!doctype html>

<html>
<head>
	<title>TrackStanford-Home</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->   

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homeW.js"></script> 

</head>

<body>

    {{>navbar}}

	<div class="container">
		<div class="page-header">
	      <h1>TrackStanford
	         	<br/>
	         	<small>
	         		Keep track of the classes you've taken!
		          	{{#if username}}
		          		<br/>
						Welcome {{username}}!
					{{else}}
						<br/>
						No username
					{{/if}}
				</small>          
	      </h1>
	    </div>


		<!-- <h3>University Requirements</h3> -->
		<label for="trackfield">Select Class Year</label>
		<form class="form" id="class_year_page" action='class_major_track' method="get" role="form">
			<select class="uni-year-control form-control" id="classfield" name="classfield">
				<option id="none" value="0" selected="sel">-- Select Class Year --</option>
			    <option id="uni-2011" value="2011">2011</option>
			    <option id="uni-2012" value="2012">2012</option>
			    <option id="uni-2013" value="2013">2013</option>
			    <option id="uni-2014" value="2014">2014</option>    
			</select>

			<label for="programfield">Select Program Sheet Year
			<a href="">(learn more)</a></label>
			<select class="prog-year-control form-control" id="programfield" name="programyear">
				<option id="none" value ="0" selected="sel">-- Select Program Year --</option>
			    <option id="prog-2011" value="2011">2011</option>
			    <option id="prog-2012" value="2012">2012</option>
			    <option id="prog-2013" value="2013">2013</option>
			    <option id="prog-2014" value="2014">2014</option>    
			</select>

			<!-- <h3>Major Requirements</h3> -->
			<label for="majorfield">Select Major</label>
			<select  disabled class="maj-control form-control", id="majorfield" name="majorfield">
				<option id="none" value ="0" selected="sel">-- Select Major --</option>
				{{#each data.majors}}
					<option id="maj-{{this.id}}" value="{{this.name}}-{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>

			<label for="trackfield">Select Concentration</label>
			<select disabled class="track-control form-control", id="trackfield" name="trackfield">
				<option id="none" value ="0" selected="sel">-- Select Track --</option>
			</select>
			<h4>Choose where to begin!</h4>
			<button disabled type="submit" id="classButton" class="btn btn-primary">University Requirements</button>
			<button disabled type="submit" id="majorButton" class="btn btn-primary">Major Requirements</button>
		</form>

		
	</div>
</body>
</html>
