<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->   

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homeW.js"></script> 

</head>

<body>

    {{>navbar}}

	<div class="dropdown">
  			<button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
  				Dropdown
  				<span class="caret"></span>
  			</button>
  			
  			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	    		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    		<li role="presentation" class="divider"></li>
	    		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  			</ul>
	</div>

	<div class="container">
		<div class="jumbotron">
			<h1>PlanStanford</h1>
			{{#if username}}
				<h2>Welcome {{username}}!</h2>
			{{else}}
				<h2>No username</h2>
			{{/if}}
			<p>Select year and major to begin!</p>
		</div>



		<h3>University Requirements</h3>
		<h6>Select Class Year</h6>
		<select class="form-control" id="classfield">
			<option value ="0" selected='sel'>-- Select Class Year --</option>
		    <option value="2014">2014</option>
		    <option value="2015">2015</option>
		    <option value="2016">2016</option>
		    <option value="2017">2017</option>
		</select>
		<a type="button" class="btn btn-primary" id="classButton" href="/requirement/University">
  		<span ></span> Go to University Requirements
		</a>

		<hr/>

		<h3>Major Requirements</h3>
		<h6>Select Major</h6>
		

		<select class="form-control", id="majorfield">
			<option value ="0" selected='sel'>-- Select Major --</option>
			{{#each data.majors}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<h6 id="trackTitle">Select Concentration</h6>
		<select class="form-control", id="trackfield">
			<option value ="0" selected='sel'>-- Select Track --</option>
			{{#each data.tracks}}
				<option value="track">{{this}}</option>
			{{/each}}
		</select>
		<a type="button" class="btn btn-primary" id="majorButton" action="assign_major_and_track">		

		<!-- <a type="button" class="btn btn-primary" id="majorButton" href="requirement/Major"> -->
  		<span ></span> Go to Major Requirements
		</a>

		
		<!-- <div class="university">
			<a href="university_requirements">
				<p>Class of 2014</p>
			</a>
			</div> -->
			
		<!-- <div class="major">
			<a href="project/{{this}}" class="thumbnail">
				<img src="images/{{image}}" class="img">
				<p>{{this}}</p>
			</a>
		</div> -->
		

		<!-- <h4>Majors</h4> -->
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<!-- {{#each projects}}
		<div class="project" id="{{id}}">
			<a href="project/{{name}}" class="thumbnail">
				<img src="images/{{image}}" class="img">
				<p>{{name}}</p>
			</a>
		</div>
		{{/each}} -->
		
	</div>


</body>
</html>
