<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/requirements.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">
	<link href="/css/icon_positioning.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#">TrackStanford</a>
	      </div>

	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	          <li><a href="/home">Home</a></li>
	          <li><a href="/requirement/University">University</a></li>
	          <li><a href="/requirement/Major">Major</a></li>
	          <li><a href="/summary">Summary</a></li>
	        </ul>
	      </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
    </nav>

    
	<div class="container">
		<div class="jumbotron">
			<h1 class ="center-class">{{name}} Requirements</h1>
		</div>
	</div>
	
	{{#if classes}}
	<div>
	  <h2>Current Classes Selected</h2>
	  <p>
	    {{#each classes}}
	    {{this}}
	    {{/each}}
	  </p>
	{{/if}}

	<div class ="center-class">
		{{#each requirements}}
		<a href = "{{../name}}/{{this.name}}">
		<button type="button" class="btn btn-default btn-lg fixedWidth">
			{{this.name}}
		</button>
		</a>
		<br>
		{{/each}}
	</div>

	<div>
	<a  href="/home" >
    	<button type="button" class="btn btn-info btn-sm bottom">
      	Home
    	</button>
  	</a>
  	
	<a href="../summary">
	    <button type="button" class="btn btn-success btn-sm bottom_right">
	      Summary
	    </button>
	</a>
  </div>


</body>
</html>
