<!doctype html>

<html>
<head>
	<title>TrackStanford-Summary</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/requirements.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">
  <link href="/css/icon_positioning.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/summaryW.js"></script>
  <script src="js/Chart.js"></script>

</head>

<body>

  {{>navbar}}


	<div class="page-header">
			<h1 class ="center-class">Summary</h1>
	</div>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th><a href="#">Category</a></th>
        <th>Units Completed</th>
        <th>Units Needed</th>
      </tr>
    </thead>
    <tbody class="table-body">
    </tbody>
  </table>

  <div class="accordion" id="accordion">
    <div class="accordion-group">
     <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse"> 
            <!-- <h5 class="game-name">
                <i class="fa fa-dribbble fa-lg"></i> Test
                <span class="arrow"><i class="fa fa-chevron-down fa-xs"></i></span>
            </h5> -->
        </a>
        <div id="collapse" class="accordion-body collapse">
                <div class="details-left col-md-6">
                    <p><b>Sport:</b> {{game.sport}}</p>
                    <p><b>Description:</b> {{game.description}}</p>
                    <p><b>Start Time:</b> {{game.timeStart.time}}</p>
                </div>
                <div class="details-right col-md-6">
                    <p><b>Location:</b> {{game.location}}</p>   
                    <p><b>Max Players:</b> {{game.cap}}</p>
                    <p><b>Creator:</b> {{game.creator}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>



  {{>home_button}}

</body>
</html>
